.menu{
    background-color: #001529;
    /* background-color: #34495e; */
    color: white;  
}
.drop{
    background-color: black;
    color: white; 
}
.menu:hover{
    color:#fff;
}
.design{
    height: 100%;
}
.numer{
    font-size: 30px;
    color: #fff;
    text-align: left;
    padding: 1px 6px;
   
    
}
.header{
    text-align: center;
}
 .bg{
    background-color: #34495e;
    /* background-color: #fff; */
} 
/* li.ant-menu-item{
 background-color:chartreuse;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color:fuchsia;
}
  */