.gg {

    width: 200px;
    outline: none;
    color: black;
    margin: 8px;
    text-align: center;
    border: 3px solid #2ecc71;
    border-radius: 5px;
    background: none;
    color: white;
}
.button1{
    margin: 15px 0;
    width: 120px;
  border-radius: 4px;
  margin-right: 10px;  
}
/* span{
    color: white;
} */
.bisechead{
    text-align: center;
    font-size:30px;
  
}
/* h1{
    color: white;
} */
/* .body{
    display: flex;
} */
.result{
    margin-left: 15px;
    margin-top: 10px;
    /* color: white; */
}
table{
    width: 100%;
}
/* table,tr,th,td{
    border:#2ecc71 1px solid;
    background-color: black;
    color: white;
} */
.table{
    border:#2ecc71 1px solid;
    background-color: black;
    color: white;
}
.box{
  width: 70%;
  padding: 40px;
  margin-left: 15%;
  margin-top: 30px;
  /* background: black; */
  background: #e6f7ff;
  
}
.calculate{
    margin-top: 10px;
    
}
.flex{
    display: flex;
    margin-top: 10px;
}
.center{
    margin-left: 25%;
}
th,td{
    padding: 5px 10px;
}
.color{
    background-color: #34495e;
    
}
.data{
    /* background: none; */
    /* border: 3px solid #2ecc71; */
    margin-top: 5px;
}
.matrixA{
    width: 50px;
   margin-right: 5px;
}
.matrixB{
    width: 50px;
    margin-right: 5px;
}
.setmatrix{
    margin-left: 40px;
}
.text{
    padding: 6px;
    margin-left: 5px;
}
.top{
    margin-bottom: 5px;
}
.ad{
    width: 80px;
    margin-right: 5px;
    margin-bottom: 8px;
}
.sizeshow{
    width: 50px;
    margin: 0 5px;
    text-align: center;
}
.swager{
    background-color: #fff;
}
.web{
    text-align: center;
    border: chartreuse 3px solid;
    font-size: 40px;
    background-color: black;
    color: #fff;
    margin-top: 150px;
    width: 50%;
    height: 120px;
    margin-left: 25%;
    padding-top: 18px;

}
.name{
    text-align: center;
    border: chartreuse 3px solid;
    font-size: 35px;
    background-color: black;
    color: #fff;
    margin-top: 40px;
    margin-left: 15%;
    width: 70%;
    height: 70px;
}
.homeweb{
    text-align: center;
}